@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }

  body {
    @apply m-0 bg-background p-4 text-foreground antialiased;
    font-family: "Segoe UI", "Noto Sans KR", sans-serif;
  }
}
